{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    About
{% endblock title %}

{% block content %}

<div class="col-sm-10">
    <h2 class="text-white my-5">About Page</h2>
    <p>Welcome to Personal Blog ! I'm [Your Name], the creator and voice behind this little corner of the internet. Here, I share my thoughts, experiences, and passions in the hope of connecting with like-minded individuals and creating a community of inspiration.</p>
    <p>[Your Blog Name] is not just a collection of words on a screen; it's a reflection of my curiosity, creativity, and the unique tapestry of life that we all weave. Whether I'm sharing travel adventures, delving into [Your Niche or Focus], or simply musing on the everyday, this blog is a space where authenticity takes the spotlight.</p>
    
</div>


{% endblock content %}