{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    About
{% endblock title %}

{% block content %}

<div class="col-sm-10">
    <h2 class="text-white my-5">Contact Page</h2>
    <form action="">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" required>
            </div>
            
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>
        
        <div class="form-group">
            <label for="inputMessage">Message</label>
            <input type="textarea" class="form-control" id="inputMessage" required>
        </div>

        <input type="submit" class="btn btn-primary" value="Send">
    </form>
   
</div>


{% endblock content %}